.form{
    display:flex;
    flex-direction: column;
    width:60%;
    margin:2.5rem auto
}
input{
    width:40%;
    padding:1rem;
    margin:0.6rem auto
}
textarea{
    width:50%;
    margin:0.6rem auto
}
.btn-submit{
    width:20%;
    padding:0.8rem;
    margin:0.6rem auto;
    background:white;
    border:1px solid black;
    text-transform: uppercase;
}
.btn-submit:hover{
    background:black;
    color:white;
    cursor: pointer;
}

@media screen and (max-width:350px){
    .form,
    .btn-submit{ width:80% }
    input{ width:50% }
    textarea{ width:100% }
}